spring:
  application:
    name: solace-demo
  datasource:
    url: jdbc:mysql://192.168.217.100:3306/solace-demo
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    open-in-view: true
  main:
    allow-bean-definition-overriding: true
server:
  port: 9999

# solace config
solace:
  jms:
    host: 192.168.217.100:55555
    msg-vpn: default
    client-username: admin
    client-password: admin
